body {
  background-image: url('img/woodBackground.jpg');

}

h1 {
  text-align: center;
  font-family: "chewy"
}

.tblPlacement {
  width: 100px;
  border-color: black;
}

.listHeader, th, td {
  text-align: center;
  font-size: 20px;
  color: black;

}


/*images I want to put into my page once everything is complete
.stickyNote {
  position: fixed;
  right: 0;
  height: 250px;
  width: 250px;
  z-index: 2;
}

.notepad {
    position: static;
    margin-left: 250px;
    margin-top: -30px;
    height: 700px;
    width: 700px;
    z-index: 1
}

.pen {
  position: fixed;
  padding: 10px;
  margin-left: 700px;
  margin-top: -500px;
  height: 475px;
  width: 400px;
}

.iphone {
  position: fixed;
  left: 0px;
  top: 150px;
  height: 400px;
  width: 400px;
}

*/